# chainlit
chainlit

# LangChain
langchain
langchain-community
langchain-core
langchain-openai
langchain-ollama

# LangGraph
langgraph
langgraph-sdk
langgraph-checkpoint-sqlite
langgraph-cli
langgraph-cli[inmem]

# LangSmith
langsmith

# Utilities
tavily-python
wikipedia
trustcall
